# ==============================
# PETSHOP ENVIRONMENT CONFIG
# ==============================

# Flask
SECRET_KEY=your-secret-key-here

# ==============================
# MySQL Database
# ==============================

# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=petshop_db
# DB_USER=root
# DB_PASSWORD=your-mysql-password-here

SECRET_KEY=your-secret-key-here

DB_HOST=your-aiven-host
DB_PORT=your-aiven-port
DB_NAME=petshop_db
DB_USER=avnadmin
DB_PASSWORD=your-aiven-password